@import "tailwindcss";

@theme {
  /*-------- ШРИФТИ --------*/
  /* основний */
  --font-sans: "Nunito", sans-serif;
  
  /*-------- КОЛЬОРИ --------*/
  /*фон*/
  --color-main-background: #EDEEF3;
  --color-main-blocks: #FFFFFF;
  --color-text: #393836;
  
  --color-red-100: #F9EFEF;
  --color-red-300: #EDDBDB;
  --color-red-500: #D0696D;
  --color-red-800: #7A3F3F;
  
  --color-blue-100: #EDF3F9;
  --color-blue-300: #D3DBE4;
  --color-blue-500: #5989B9;
  --color-blue-800: #556F82;
  
  --color-gray-100: #EDECEA;
  --color-gray-300: #E8E1D8;
  --color-gray-500: #D9D7D3;
  --color-gray-800: #A9A7A2;
  
  --color-orange-100: #FDF6ED;
  --color-orange-800: #DB934B;
  
  --color-green-100: #ECF4EF;
  --color-green-300: #D5DDD0;
  --color-green-800: #5CA77E;
  
  /*тінь для основних блоків */
  --shadow-main-blocks: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  /*закруглення для основних блоків */
  --radius-main-blocks: 30px;
  /*закруглення для кнопок*/
  --radius-buttons: 10px;
  
  /*анімація флеш карточки у вправах*/
  --animate-front: front 0.3s ease-in;
  --animate-back: back 0.3s ease-in;
  --animate-filterHint: filterHint 1s ease-in-out 1s 1;
  
  @keyframes front {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes back {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes filterHint {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-2rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  
/*  кастомні брейкпоінти */
  --breakpoint-xs: 480px;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-main-background);
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}